<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>



# <IfModule mod_security.c>
#   SecRuleEngine Off
#   SecFilterInheritance Off
#   SecFilterEngine Off
#   SecFilterScanPOST Off
#   SecFilterScanPUT Off
#   SecRuleRemoveById 300015 3000016 3000017
# </IfModule>

# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews -Indexes
#     </IfModule>
#     <IfModule mod_security.c>
#       SecRuleEngine Off
#       SecFilterInheritance Off
#       SecFilterEngine Off
#       SecFilterScanPOST Off
#       SecFilterScanPUT Off
#       SecRuleRemoveById 300015 3000016 3000017
#     </IfModule>
#     # ANTI MEMORY LIMIT
#     Php_value memory_limit 1024M
#     Php_value post_max_size 10M
#     Php_value upload_max_filesize 10M

#     RewriteEngine On

#     # Handle Authorization Header
#     RewriteCond %{HTTP:Authorization} .
#     RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#     # Redirect Trailing Slashes If Not A Folder...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_URI} (.+)/$
#     RewriteRule ^ %1 [L,R=301]

#     # Send Requests To Front Controller...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ index.php [L]


# </IfModule>

# # php -- BEGIN cPanel-generated handler, do not edit
# # Set the “ea-php80” package as the default “PHP” programming language.
# <IfModule mime_module>
#   AddHandler application/x-httpd-ea-php80 .php .php8 .phtml
# </IfModule>
# # php -- END cPanel-generated handler, do not edit
