@import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap-vue/src/index.scss';

ul.vs-sidebar--group-child-items {
    margin-bottom: 0px;
}

.badaso-unauthorize__container {
    z-index: 99994 !important;
}

.modal.fade.show {
    background: rgb(0 0 0 / 40%);
}

button.vs-select--item.activex.con-icon span {
    padding-left: 10px;
}

button.vs-select--item span {
    text-transform: capitalize;
}

td.td.vs-table--td span,
td.td.vs-table--td span p {
    text-transform: capitalize;
}

ol.vs-breadcrumb--ol li a,
ol.vs-breadcrumb--ol li {
    text-transform: capitalize;
}

span.text-on.text-switch.vs-switch--text.active-text {
    font-size: 14px;
}

span.text-off.text-switch.vs-switch--text.active-text {
    font-size: 14px;
}

button.vs-component.vs-switch.vs-switch-primary.vs-switch-active {
    width: 60px !important;
}

button.vs-component.vs-switch.vs-switch-primary {
    width: 60px !important;
}

td.badaso-table__value p,
td.badaso-table__value span {
    text-transform: capitalize;
}

input.input-select.vs-select--input {
    text-transform: capitalize;
}

a:hover {
    text-decoration: none;
}

.crud-generated__item--select-multiple p {
    margin-bottom: 0px;
}

.vs-table--td span p {
    margin-bottom: 0px !important;
}

.con-vs-dialog.badaso-loader {
    z-index: 99995 !important;
}

.modal {
    z-index: 99993 !important;
}

.modal-dialog.modal-stack-0.modal-order-1.modal-fullscreen {
    background: #00000042;
}

.vs-select--options {
    z-index: 99994 !important;
}

// .modal-dialog {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

$modal-xl: 900px;
$modal-xxl: 1040px;
$modal-xxxl: 1180px;
$modal-90per: 90%;

@media (min-width: 768px) {
  .modal-xl {
    max-width: $modal-xl;
  }
  .modal-xxl {
    max-width: $modal-xxl;
  }
  .modal-xxxl{
    max-width: $modal-xxxl;
  }
  .modal-90per {
    max-width: $modal-90per;
  }
}

.modal-fullscreen {
  max-width: 100%;
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 50px;


  .modal-body {
    padding: 0;
  }

  .modal-content {
    max-height: 100%;
  }

  &.aside .modal-content {
    height: auto;
  }

  &.modal-dialog.aside.modal-stack1 .modal-content {
    transform: scale(1) translate(0, 0) !important;
  }
}

//modal without border
.modal-dialog.modal-border-0 {
  .modal-content {
    border: none;
  }
}

@media screen and (min-width: 800px){
  .modal-dialog {
    &.modal-xxl{
      width: 98%;
      max-width: 1040px;
    }
  }
}


@media screen and (min-width: 640px){
  .modal-dialog {
    &.modal-xxl{
      width: 98%;
      max-width: 1040px;
    }
  }
}

@media screen and (max-width: 420px){
  .modal-dialog,
  .modal-content{
    overflow: auto;
  }
}
